.card {
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  @apply shadow-sm w-full;

  .header {
    position: relative;
    @apply m-6;

    .title {
      font-size: 20px;
      font-weight: 700;
      @apply leading-tight m-0 mb-2;
    }

    .description {
      @apply text-gray-500 font-medium leading-5 m-0;
    }
  }

  .content {
    @apply mx-6 mt-4;

    .footer {
      @apply bg-gray-200 -mx-8 mt-4 px-8 py-6;
    }
  }
}
